@import url(lyout/lyouts.css);

h1{
    font-size: 3rem;
    color: white;
    font-family: 'Viaoda Libre', cursive;
}

.carrusel{
    background-image: linear-gradient(to right, rgb(19, 19, 19), #a1a1a1);
    text-align: center;
    color: white;
    animation-name: tabla;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

h2{
    color: white;
    text-align: center;

}